.night-blue {
    background-color: #1f2335;
}

.dark-gray {
    background-color: #24283b;
}

.dusk {
    background-color: #292e42;
}

.slate {
    background-color: #3b4261;
}

.charcoal {
    background-color: #414868;
}

.blue-gray {
    background-color: #545c7e;
}

.steel-blue {
    background-color: #565f89;
}

.cool-gray {
    background-color: #737aa2;
}

.light-purple {
    background-color: #a9b1d6;
}

.pale-blue {
    background-color: #c0caf5;
}

.dark-teal {
    background-color: #394b70;
}

.royal-blue {
    background-color: #3d59a1;
}

.sky-blue {
    background-color: #7aa2f7;
}

.ice-blue {
    background-color: #7dcfff;
}

.mint {
    background-color: #b4f9f8;
}

.light-purple-alt {
    background-color: #bb9af7;
}

.lavender {
    background-color: #9d7cd8;
}

.peach {
    background-color: #ff9e64;
}

.gold {
    background-color: #ffc777;
}

.light-green {
    background-color: #c3e88d;
}

.turquoise {
    background-color: #4fd6be;
}

.cyan {
    background-color: #41a6b5;
}

.coral {
    background-color: #ff757f;
}

.red {
    background-color: #c53b53;
}

.hot-pink {
    background-color: #ff007c;
}